<div fxLayout="row" fxLayoutGap="16px" class="main-content">
    <div fxFlex="40%" fxLayout="column" fxLayoutGap="16px">
        <pokedex-filter
            fxFlex
            [matchedPokemonCount]="matchedPokemonCount"
            (filterChanged)="onFilterChanged($event)"
        ></pokedex-filter>

        <mat-list>
            <ng-container *ngFor="let pokemon of pokemonList; let last = last">
                <mat-list-item
                    matRipple
                    (click)="setSelectedPokemon(pokemon)"
                    [ngClass]="{ 'selected-item': selectedPokemon === pokemon }"
                >
                    <img
                        matListItemAvatar
                        [src]="'data:image/png;base64,' + pokemon.icon_b64"
                        alt="{{ pokemon.name }}.icon"
                    />
                    <h3 matListItemTitle>{{ pokemon.name | titlecase }}</h3>
                    <p matListItemLine>
                        <span>{{
                            pokemon.id < 10
                                ? "00" + pokemon.id
                                : pokemon.id < 100
                                ? "0" + pokemon.id
                                : pokemon.id
                        }}</span>
                    </p>
                </mat-list-item>

                <!-- Do not add divider after the last item -->
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-list>
    </div>

    <pokedex-showcase
        fxFlex="60%"
        [selectedPokemon]="selectedPokemon"
        (pokemonSelected)="setSelectedPokemon($event)"
    >
    </pokedex-showcase>
</div>
