app-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* To ensure it's above other elements */
    background-color: inherit; /* To ensure the background isn't transparent when scrolling */
}
.main-content {
    height: calc(100vh - 64px); /* subtract header height */
    overflow-y: auto;
}
