<div class="list-group-item list-group-item-action" [class.active]="isActive">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <span class="p-1">{{
                pokemon.id < 10
                    ? "00" + pokemon.id
                    : pokemon.id < 100
                    ? "0" + pokemon.id
                    : pokemon.id
            }}</span>
            <span>{{ pokemon.name | titlecase }}</span>
        </div>

        <div>
            <img
                class="icon"
                [src]="'data:image/png;base64,' + pokemon.icon_b64"
                alt="{{ pokemon.name }}.icon"
            />
        </div>
    </div>
</div>
