#showcase {
    border: red 5px solid;
}

.next {
    clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
    );
    font-size: 1.3rem;
    background-color: rgb(173, 173, 173); /* This will act as the border */
}

.prev {
    clip-path: polygon(
        40% 0%,
        40% 20%,
        100% 20%,
        100% 80%,
        40% 80%,
        40% 100%,
        0% 50%
    );
    background-color: rgb(173, 173, 173); /* This will act as the border */

    font-size: 1.3rem;
}
.prev,
.next {
    background: none;
    border: none;
    cursor: pointer;
    /* ... other styles ... */
}

.stat-bar {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    color: #ffffff;
    font-weight: bolder;
}

.hp {
    background-color: rgb(170, 38, 38);
}

.atk {
    background-color: rgb(184, 153, 95);
}

.def {
    background-color: rgba(194, 194, 36, 0.671);
}
.spa {
    background-color: rgb(57, 57, 192);
}
.spd {
    background-color: rgb(15, 128, 15);
}
.spe {
    background-color: rgba(158, 76, 103, 0.726);
}

.total {
    background-color: gray;
}
