<div id="showcase">
    <div *ngIf="pokemon">
        <div class="d-flex showcase-header">
            <button
                *ngIf="prevPokemon"
                (click)="selectPokemon(prevPokemon)"
                class="prev col-3 d-flex justify-content-center align-items-center"
            >
                <img
                    class="icon"
                    [src]="'data:image/png;base64,' + prevPokemon.icon_b64"
                    alt="{{ prevPokemon.name }}.icon"
                />
                {{ prevPokemon.name | titlecase }}
            </button>
            <span class="d-flex justify-content-center display-4 col-6">
                {{ pokemon.name | titlecase }}
            </span>
            <button
                *ngIf="nextPokemon"
                (click)="selectPokemon(nextPokemon)"
                class="next col-3 d-flex justify-content-center align-items-center"
            >
                {{ nextPokemon.name | titlecase }}
                <img
                    class="icon"
                    [src]="'data:image/png;base64,' + nextPokemon.icon_b64"
                    alt="{{ nextPokemon.name }}.icon"
                />
            </button>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="sprite-container col-7">
                <img [src]="pokemon.sprite" alt="{{ pokemon.name }}" />
                <div class="d-flex">
                    <!-- Icon for the first type -->
                    <img
                        *ngIf="pokemon.type_one"
                        [src]="
                            'assets/images/' +
                            pokemon.type_one.toLowerCase() +
                            '-type-icon.png'
                        "
                        class="col-4"
                        alt="{{ pokemon.type_one }} icon"
                    />

                    <!-- Icon for the second type (only if it exists) -->
                    <img
                        *ngIf="pokemon.type_two"
                        [src]="
                            'assets/images/' +
                            pokemon.type_two.toLowerCase() +
                            '-type-icon.png'
                        "
                        class="col-4"
                        alt="{{ pokemon.type_two }} icon"
                    />
                </div>
            </div>
            <div id="stats-container" class="col-5">
                <div
                    class="d-flex justify-content-between stat-bar hp p-1"
                    [style.width.%]="(pokemon.base_hp / 283 + 0.11) * 100"
                >
                    <span>HP:</span> <span>{{ pokemon.base_hp }}</span>
                </div>
                <div
                    class="d-flex justify-content-between stat-bar atk p-1"
                    [style.width.%]="(pokemon.base_atk / 283 + 0.11) * 100"
                >
                    <span>ATK:</span> <span>{{ pokemon.base_atk }}</span>
                </div>
                <div
                    class="d-flex justify-content-between stat-bar def p-1"
                    [style.width.%]="(pokemon.base_def / 283 + 0.11) * 100"
                >
                    <span>DEF:</span> <span>{{ pokemon.base_def }}</span>
                </div>
                <div
                    class="d-flex justify-content-between stat-bar spa p-1"
                    [style.width.%]="(pokemon.base_spa / 283 + 0.11) * 100"
                >
                    <span>SPA:</span> <span>{{ pokemon.base_spa }}</span>
                </div>
                <div
                    class="d-flex justify-content-between stat-bar spd p-1"
                    [style.width.%]="(pokemon.base_spd / 283 + 0.11) * 100"
                >
                    <span>SPD:</span> <span>{{ pokemon.base_spd }}</span>
                </div>
                <div
                    class="d-flex justify-content-between stat-bar spe p-1"
                    [style.width.%]="(pokemon.base_spe / 283 + 0.11) * 100"
                >
                    <span>SPE:</span> <span>{{ pokemon.base_spe }}</span>
                </div>
                <div
                    class="d-flex justify-content-between stat-bar total p-1"
                    [style.width.%]="(pokemon.base_total / 800 + 0.05) * 100"
                >
                    <span>TOTAL:</span> <span>{{ pokemon.base_total }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
